@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f4f4f4;
}

.slider {
    width: 100%;
    min-height: 400px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
}

.slide {
    width: 33vw;
    flex-shrink: 0;
}


.contain {
    @apply px-8 sm:px-12;
}

@layer base {
    .markdown * {
        @apply mb-8
    }

    .markdown h1 {
        @apply text-6xl font-medium mb-4;
    }

    .markdown h2 {
        @apply text-5xl font-medium mb-3;
    }

    .markdown h3 {
        @apply text-4xl font-medium mb-2;
    }

    .markdown h4 {
        @apply text-3xl font-medium mb-2;
    }

    .markdown h5 {
        @apply text-2xl font-medium mb-2;
    }

    .markdown h6 {
        @apply text-xl font-medium mb-2;
    }

    .markdown img {
        @apply rounded-lg;
    }

    .markdown pre {
        @apply p-2 rounded
    }

    input {
        @apply border border-gray-400 rounded focus:bg-slate-100 px-1;
    }
}

@layer utilities {
    .success {
        @apply bg-green-600 text-white;
    }

    .w-100\% {
        width: 100%;
    }
}

@layer components {
    .btn {
        @apply rounded py-2 px-4 cursor-pointer hover:brightness-90 active:brightness-110
    }

    .link {
        @apply text-blue-700 underline active:text-blue-500 visited:text-blue-900;
    }
}

