@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --slide-width: 100vw;
    --slide-height: 300px;


    --dark: #252525;
    --light: #f9f9f9;
    --mid: #f0f0ff;
    --color-cta: #004ca3;
}

body {
    background-color: #f4f4f4;
    color: #000;
}


ul {
    list-style: inside;
}

p {
    margin-bottom: 1rem;
}



.section__content {
    max-width: 1600px;
    margin-inline: auto;
}

.full-width {
    max-width: 100%;
    width: 100%;
}

.slider {
    isolation: isolate;
    width: var(--slide-width);
    min-height: var(--slide-height);
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide {
    width: var(--slide-width);
    flex-shrink: 0;
    scroll-snap-align: center;
    display: grid;
    place-items: center;
}

.slide * {
    max-width: 70ch;
}

.contain {
    @apply px-8 sm:px-12;
}

.card {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px #000a;
}

.card__title {
    text-align: center;
}

@layer base {
    .markdown * {
        @apply mb-8
    }

    .markdown h1 {
        @apply text-6xl font-medium mb-4;
    }

    .markdown h2 {
        @apply text-5xl font-medium mb-3;
    }

    .markdown h3 {
        @apply text-4xl font-medium mb-2;
    }

    .markdown h4 {
        @apply text-3xl font-medium mb-2;
    }

    .markdown h5 {
        @apply text-2xl font-medium mb-2;
    }

    .markdown h6 {
        @apply text-xl font-medium mb-2;
    }

    .markdown img {
        @apply rounded-lg;
    }

    .markdown pre {
        @apply p-2 rounded
    }

    input {
        @apply border border-gray-400 rounded focus:bg-slate-100 px-1;
    }
}

@layer utilities {
    .success {
        @apply bg-green-600 text-white;
    }

    .w-100\% {
        width: 100%;
    }

    .h-100\% {
        height: 100%;
    }

    .bg-light {
        background-color: var(--light);
        color: #000;
    }

    .bg-mid {
        background-color: var(--mid);
        color: #000;
    }
    
    .bg-dark {
        background-color: var(--dark);
        color: #fff;
    }

    .bg-white {
        background-color: #fff;
        color: #000;
    }

    .bg-cta {
        background-color: var(--color-cta);
        color: #fff;
    }

    small, .attribution {
        @apply text-sm font-light;
    }
    
    
    .h2 {
        @apply text-4xl font-bold mb-2;
    }

    .h3 {
        @apply text-2xl font-bold mb-2;
    }
}

@layer components {
    .btn {
        @apply rounded py-2 px-4 cursor-pointer hover:brightness-90 active:brightness-110
    }

    .btn--cta {
        @apply btn bg-cta uppercase;
    }

    .link {
        @apply text-blue-700 underline active:text-blue-500 visited:text-blue-900;
    }
}

