body {
    background-color: #eee;
}

.hero-section {
    background-size: cover;
    background-position-y: center;
    object-fit: cover;
    height: 75vh;    
    display: grid;
    place-items: center;
    text-align: center;
    
}

.hero-section--home {
    background-image: url(../img/home_hero.jpg);
    background-blend-mode: darken;
    background-color: #0007;
    color: white;
}

.hero-section__header {
    font-size: 4em;
    font-weight: bold;
}

.hero-section__lead {
    font-size: 1.5rem;
}

