---
import Service from '../../layouts/Service.astro';

---


<Service
    heroImageSrc='/img/web.webp'
    title='Web Development'
    lead='Fast, secure, and easy to use websites'    
>

    <main class='grid gap-16'>
        <section class='grid place-items-center p-16'>
            <div class='grid md:grid-cols-2 gap-32 max-w-screen-xl'>
                <img class='max-w-[40rem] rounded-lg' src='/img/web1.webp' alt="Image of guitar website landing page">
                <div class='grid place-content-center justify-start'>
                    <h2 class='text-6xl font-medium'>Lorem Ipsum</h2>
                    <p class='max-w-[60ch]'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo, possimus blanditiis in iure perspiciatis eligendi, quia error architecto veniam itaque quod minus? Incidunt dicta cupiditate culpa magnam? Aliquam, iste.</p>
                </div>
            </div>
        </section>

        <section class='grid place-items-center p-16'>
            <div class='grid md:grid-cols-2 gap-32 max-w-screen-xl'>
                <div class='grid place-content-center justify-start'>
                    <h2 class='text-6xl font-medium'>Lorum Ipsum</h2>
                    <p class='max-w-[60ch]'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo, possimus blanditiis in iure perspiciatis eligendi, quia error architecto veniam itaque quod minus? Incidunt dicta cupiditate culpa magnam? Aliquam, iste.</p>
                </div>
                <img class='max-w-[40rem] rounded-lg' src='/img/web2.webp' alt="Image of guitar website landing page">
            </div>
        </section>
    </main>

</Service>