---
import Layout from '../layouts/Layout.astro';
import Section from "../components/Section.astro";
import SimpleHero from '../components/SimpleHero.astro';

---


<Layout title='Attribution' class='bg-dark text-white text-lg' noIndex={true}>
    <SimpleHero
        header='Attribution for Images Used'
        title='Attribution'
        class='bg-[var(--black)] h-[65vh] justify-start'
    >
    </SimpleHero>  
    <Section class="bg-light py-24 ">
        <div class='w-64 mb-8'>
            <img src="/img/designer.jpg" class="rounded h-100% m-auto"/>
            <small class='attribution'>Photo by <a href="https://www.shopify.com/stock-photos/@matthew_henry?utm_campaign=photo_credit&amp;utm_content=Free+Stock+Photo+of+Designer+At+Desk+%E2%80%94+HD+Images&amp;utm_medium=referral&amp;utm_source=credit">Matthew Henry</a> from <a href="https://www.shopify.com/stock-photos/desk?utm_campaign=photo_credit&amp;utm_content=Free+Stock+Photo+of+Designer+At+Desk+%E2%80%94+HD+Images&amp;utm_medium=referral&amp;utm_source=credit">Burst</a></small>
        </div>

        <div class="w-64 mb-8">
            <img src="/img/ecommerce.jpg" class="rounded h-100% m-auto"/>
            <small class='attribution'>Photo by <a href="https://www.shopify.com/stock-photos/@ave?utm_campaign=photo_credit&amp;utm_content=Browse+Free+HD+Images+of+Miniature+Shopping+Cart+On+A+Laptop+Keyboard&amp;utm_medium=referral&amp;utm_source=credit">Avelino Calvar Martinez</a> from <a href="https://www.shopify.com/stock-photos/customer?utm_campaign=photo_credit&amp;utm_content=Browse+Free+HD+Images+of+Miniature+Shopping+Cart+On+A+Laptop+Keyboard&amp;utm_medium=referral&amp;utm_source=credit">Burst</a></small>
        </div>

        <div class="w-64 mb-8">
            <img src="/img/development.jpg" class="rounded h-100% m-auto"/>
            <small class='attribution'>Photo by <a href="https://www.shopify.com/stock-photos/@matthew_henry?utm_campaign=photo_credit&amp;utm_content=Free+Coding+On+Laptop+Image%3A+Browse+1000s+of+Pics&amp;utm_medium=referral&amp;utm_source=credit">Matthew Henry</a> from <a href="https://www.shopify.com/stock-photos/professional?utm_campaign=photo_credit&amp;utm_content=Free+Coding+On+Laptop+Image%3A+Browse+1000s+of+Pics&amp;utm_medium=referral&amp;utm_source=credit">Burst</a></small>
        </div>

        
    </Section>
</Layout>