---
import SimpleHero from '../components/SimpleHero.jsx';
import Layout from '../layouts/Layout.astro';
import Posts from '../components/Posts';

import { getCollection, getEntryBySlug } from 'astro:content';


const allPosts = await getCollection('blog');
---


<Layout title="Blog Posts">
    <SimpleHero 
        bgImgSrc="/img/pages/blog_hero.webp" 
        header="Zoar Valley Software Blog"
        lead="Writing about cool stuff"
        class="justify-start"
    />
    
    <main class="p-16">
        <Posts posts={ allPosts } />
    </main>
</Layout>