---
import SimpleHero from '../components/SimpleHero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Contact'>
    <SimpleHero
        header='Let us know how we can help you.'
        lead='Ask us about prices, services, or any concerns you may have.'
        bgImgSrc='/static/img/contact.webp'
        class='text-white bg-[#0005]'
    ></SimpleHero>

    <h1 class='text-4xl font-bold'>Please Email <a class='text-blue-700 underline' href='mailto:zoarvalleysoftware@gmail.com'>zoarvalleysoftware@gmail.com</a></h1>
</Layout>