---
import Layout from '../layouts/Layout.astro';
import SimpleHero from '../components/SimpleHero.astro';
import GridSection from '../components/GridSection';
import {Input, Form } from '../components/Form';
import Blur from '../components/Blur';
---
<Layout title='Zoar Valley Software' class='bg-[#0f0f0f] text-white text-lg'>
    
    <SimpleHero
        header='Taking your ideas to the next level.'
        title='Zoar Valley Software LLC'
        bgImgSrc='/img/code.jpg'
        class='bg-[#0007] h-[65vh] justify-start'
        >
        <div slot='cta' class='mt-8'>
            <a class='btn py-3 px-6 bg-white text-black text-2xl font-medium' href='/#contact'>Get a quote</a>
        </div>

        <div slot='absolutes' class="w-[100vw] h-[100%] absolute top-0 left-0 overflow-x-clip">
            <Blur className='z-10 w-[80rem] bg-[#3489fbd9] absolute -left-[10rem] -top-[10rem] aspect-video rounded-sm' />    
            <div class='bg-gradient-to-b from-transparent to-[#0f0f0f] h-32 w-100% absolute bottom-0'></div>
        </div>
    </SimpleHero>  
    
    <main class='relative overflow-clip px-32 py-16 grid gap-32 place-content-center text-center lg:text-left'>        
        <GridSection className='z-20'>            
            <div class="grid place-content-center text-xl">
                <h2 class='text-6xl font-semibold mb-4'>Web Development</h2>
                <p>
                    Creating blogs, marketing & e-commerce sites, or entirely custom web applications, 
                    we'll ensure you receive a high-quality website that is easy to use and maintain.
                </p>
            </div>
            
            <img class='bg-white object-cover' src='/img/soap.png' alt='Image of a guitar website hero-section'/>
            
        </GridSection>


        <GridSection className='z-20'>
            <div class="grid place-content-center text-xl">
                <h2 class='text-6xl font-semibold mb-4'>Automation</h2>
                <p>
                    Tired of carrying out monotonus, and repetitive tasks such as data entry or data analysis?
                    We can develop software to automate these and many more tasks, letting you focus on the things that really matter.
                </p>
            </div>
            <img src='/img/graph.webp' class='lg:[grid-row:1]' alt='Image of a data graph'>
        </GridSection>



        <section class="z-20">
            <h2 class='text-5xl font-medium mb-4' id='contact'>Contact Us</h2>
            <Form  action='https://api.zoarvalleysoftware.com/contact' method='POST' className='max-w-xl grid gap-4 place-content-center'>
                <fieldset>
                    <label for='message'>Describe what we can do for you:</label><br>
                    <textarea class='mb-4 w-100% min-h-[10rem] h-[100%] text-black' name='message' required></textarea>
                </fieldset>

                <div class='grid place-content-center md:grid-cols-2 gap-8 mb-8'>
                    <Input 
                        name='name' 
                        label='Your name:'
                        type='text'
                    />

                    <Input 
                        name='email' 
                        label='Your email:'
                        type='email'
                    />
                    
                    <Input 
                        name='company' 
                        label='Your company name (optional):'
                        type='text'
                        required={ false }
                    />
                </div>

                <button class='btn w-fit bg-primary block font-medium'>Submit Contact Form</button>
            </Form>
        </section>
    </main>
</Layout>
