---
import Layout from '../layouts/Layout.astro';
import SimpleHero from '../components/SimpleHero.astro';
import GridSection from '../components/GridSection';
import {Input, Form } from '../components/Form';
---
<Layout title='Zoar Valley Software' class='bg-[#0f0f0f] text-white text-lg'>
    <SimpleHero
        header='Zoar Valley Software LLC'
        lead='Custom software and websites for your business.'
        bgImgSrc='/img/shapes.webp'
        class='bg-[#0007] h-[45vh]'
    >
        <div slot='blend' class='bg-gradient-to-b from-transparent to-[#0f0f0f] h-32 w-100% absolute bottom-0'></div>
    </SimpleHero>  

    <main class='px-32 py-16 grid gap-32 place-content-center text-center lg:text-left'>
        <section class="grid gap-4 place-items-center text-center">
            <h1 class='text-4xl'>Be one of our first clients and get a discount!</h1>
            <p>If you are one of our first 3 clients, you will get a 30% discount for the total cost of your project.</p>
            <a href="#contact" class='btn font-medium bg-primary'>Contact Us Now!</a>
        </section>

        <GridSection>
            <div class="grid place-content-center text-xl">
                <h2 class='text-6xl font-semibold mb-4'>Web Development</h2>
                <p>
                    Creating blogs, marketing & e-commerce sites, or entirely custom web applications, 
                    we'll ensure you receive a high-quality website that is easy to use and maintain.
                </p>
            </div>
            
            <img class='bg-white object-cover' src='/img/web1.webp' alt='Image of a guitar website hero-section'/>
        </GridSection>

        <GridSection>
            <div class="grid place-content-center text-xl">
                <h2 class='text-6xl font-semibold mb-4'>Automation</h2>
                <p>
                    Tired of carrying out monotonus, and repetitive tasks such as data entry or data analysis?
                    We can develop software to automate these and many more tasks, letting you focus on the things that really matter.
                </p>
            </div>
            <img src='/img/graph.webp' alt='' class='lg:[grid-row:1]' alt='Image of a data graph'>
        </GridSection>

        <section>
            <h2 class='text-5xl font-medium mb-4' id='contact'>Contact Us</h2>
            <Form  action='https://api.zoarvalleysoftware.com/contact' method='POST' className='max-w-xl grid gap-4 place-content-center'>
                <fieldset>
                    <label for='message'>Describe what we can do for you:</label><br>
                    <textarea class='mb-4 w-100% min-h-[10rem] h-[100%] text-black' name='message' required></textarea>
                </fieldset>

                <div class='grid place-content-center md:grid-cols-2 gap-8 mb-8'>
                    <Input 
                        name='name' 
                        label='Your name:'
                        type='text'
                    />

                    <Input 
                        name='email' 
                        label='Your email:'
                        type='email'
                    />
                    
                    <Input 
                        name='company' 
                        label='Your company name (optional):'
                        type='text'
                        required={ false }
                    />
                </div>

                <button class='btn w-fit bg-primary block font-medium'>Submit Contact Form</button>
            </Form>
        </section>
    </main>
</Layout>
