---
import Layout from '../layouts/Layout.astro';
import SimpleHero from "../components/SimpleHero.astro";
import Section from "../components/Section.astro";
---


<Layout title='Zoar Valley Software' class='bg-dark text-white text-lg'>
    <SimpleHero
        header='Website Solutions That Work For You'
        title='Zoar Valley Software LLC'
        class='bg-[var(--black)]'
    >
        <div class='mt-8'>
            <a href="#contact" class="font-bold btn--cta">Contact</a>
        </div>
    </SimpleHero>  

    <Section class="bg-mid text-center md:text-left">
        <!-- <h2 class="text-4xl font-bold mb-8 p-8 ">What We Offer</h2> -->

        <div class="flex flex-wrap justify-center items-center">
            <div class="lg:w-3/5 w-100% p-8">
                <h2 class="h2">Theme Customization</h2>
                <p>Our theme customization services transform standard WordPress templates into distinctive websites that represent your brand perfectly. We modify existing themes with custom code that adds unique functionality while maintaining performance.</p>
                <ul>
                    <li>Custom theme modifications and enhancements</li>
                    <li>Responsive design implementation</li>
                    <li>Brand-aligned visual elements</li>
                </ul>
            </div>

            <div class="lg:w-2/5 w-100% p-8">
                <img src="/img/designer.jpg" class="rounded m-auto"/>
            </div>
        </div>

    </Section>

    
    <Section class="bg-light text-center md:text-left">
        <div class="flex flex-wrap justify-center items-center flex-row-reverse">
            <div class="lg:w-3/5 w-100% p-8">
                <h2 class="h2">E-Commerce Development</h2>
                <p>
                    From single product sites to extensive catalogs, we build e-commerce solutions that balance professional appearance with efficient functionality.
                    Our custom product displays showcase your merchandise with engaging layouts, filtering options, and unique presentation styles that enhance the shopping experience and drive conversions.  
                </p>
                <ul>
                    <li>WooCommerce setup and configuration</li>
                    <li>Payment gateway integration</li>
                    <li>Custom product displays</li>
                </ul>
            </div>
    
            <div class="lg:w-2/5 w-100% p-8">
                <img src="/img/ecommerce.jpg" class="rounded m-auto "/>
            </div>
        </div>
        
    </Section>

    <Section class="bg-mid text-center md:text-left">
        <div class="flex flex-wrap justify-center items-center">
            <div class="lg:w-3/5 w-100% p-8">
                <h2 class="h2">Technical Expertise</h2>
                <p>
                    We develop bespoke features that integrate seamlessly with your site while ensuring all plugins work harmoniously. 
                    We optimize code and database efficiency to maintain speed and smooth interactions, ensuring your unique design elements and capabilities deliver a reliable, engaging user experience.</p>
                <ul>
                    <li>Custom plugin development</li>
                    <li>Theme customization</li>
                    <li>Performance optimization and speed improvements</li>
                    <li>Troublshooting and technical support</li>
                </ul>
            </div>

            <div class="lg:w-2/5 w-100% p-8">
                <img src="/img/development.jpg" class="rounded m-auto "/>
            </div>
        </div> 

        
    </Section>

    <Section class="bg-light text-center md:text-left">
        <div class="flex justify-center items-center text-center pb-24">
            <div>
                <h2 class="h2">Why Choose Us?</h2>
                <p class="max-w-[100ch] mx-auto mt-4">
                    We combine technical excellence with business understanding to deliver websites that perform.  Our team transforms your vision into an engaging digital experience that drives results. 
                    Whether you need a complete website redesign, performance optimization, or technical support for your existing WordPress site, we have the skills to help your business thrive online.
                </p>
                
                <p>Contact us today to discuss how we can elevate your web presence.</p>
                <a href="mailto:zoarvalleysoftware@gmail.com" class="text-blue-900 font-bold">zoarvalleysoftware@gmail.com</a>
            </div>
        </div> 

        <div class="flex justify-center items-center" id="contact">
            <iframe loading="lazy" src="https://docs.google.com/forms/d/e/1FAIpQLSdmzcpZLXJpvS62zks_g-PHOcupyJqygUq-Zdzx7Z6r4DM4hA/viewform?embedded=true" width="100%" height="1200px">Loading…</iframe>
        </div>
    </Section>
</Layout>
