---
import Layout from '../layouts/Layout.astro';
import SimpleHero from '../components/SimpleHero.astro';
import GridSection from '../components/GridSection';
import {Input, Form } from '../components/Form';
---
<Layout title='Zoar Valley Software' class='bg-[#0f0f0f] text-white text-lg'>
    <SimpleHero
        header='Zoar Valley Software LLC'
        lead='Custom software and websites for your business.'
    />

    <main class='px-32 py-16 grid gap-16 place-content-center'>
        <GridSection className='grid-cols-2'>
            <div class="grid place-content-center text-xl">
                <h2 class='text-6xl font-semibold mb-4'>What we do</h2>
                <p>
                    We are passionate about developing software to solve problems for businesses. 
                    From websites and desktop apps to automation and IoT systems, we will work hard to provide you with what you 
                    need to make your business more efficient.
                </p>
            </div>

            <div class='w-[30rem] aspect-square bg-white'></div>
        </GridSection>

        <section>
            <h2 class='text-5xl font-medium mb-4'>Contact Us</h2>
            <Form action='#' method='POST' className='max-w-xl'>
                <label for='message'>Describe your needs:</label><br>
                <textarea class='mb-4 w-100%' name='message' id="" cols="30" rows="10" required></textarea>

                <div class='grid grid-cols-2 gap-8 mb-8'>
                    <Input 
                        name='name' 
                        label='Your name:'
                        type='text'
                    />

                    <Input 
                        name='email' 
                        label='Your email:'
                        type='email'
                    />
                    
                    <Input 
                        name='company' 
                        label='Your company name (optional):'
                        type='text'
                        required={ false }
                    />
                </div>

                <button class='btn bg-primary block'>Submit Contact Form</button>
                
            </Form>
        </section>
    </main>
</Layout>
