---
import Layout from '../layouts/Layout.astro';
import ServiceSection from '../components/ServiceSection.astro';
import PageHero from '../components/PageHero.astro';
---
<Layout title='Zoar Valley Software' class='bg-[#0f0f0f]'>

    <!-- Hero section -->
    <PageHero
        header='Software Solutions for Your Business'
        lead='Websites, internet of things, custom software, and more.'
        bgImgSrc='/static/img/bg_dark_textured.webp'
        imgSrc='/static/img/coding1.webp'
        class='text-white'
    >
    
        <div class='text-xl flex gap-4 items-start flex-wrap justify-center lg:justify-start' slot='cta'>
            <a href='/contact' class='btn bg-primary font-medium'>Ask About a Project</a>
        </div>

        <div slot='blend' class="absolute bottom-0 bg-gradient-to-b from-transparent to-[#0f0f0f] w-[100%] h-[25rem]">
    </div>
    </PageHero>

    <main class='text-lg text-slate-100'>
        <!-- Services -->
        <section class='grid place-content-center gap-32 md:gap-64 py-28 md:py-40'>
            <ServiceSection 
				header="Web Development" 
				description=
                    'Websites for marketing, portfolios, e-commerce, social media, \
                    entirely custom web apps, and much more.'
                service='web'
				imgSrc="/static/img/web.webp"
			>
				<!-- <img class='absolute w-[50rem] -translate-x-[50vw] z-0' src='/static/img/blobs/blob.svg'/>     -->
			</ServiceSection>
			
			<ServiceSection
				header="Inernet of Things"
				description=
                    'Systems for convenience, monitoring, automation, \
                    and increased efficiency and productivity.'
                    
				imgSrc='/static/img/arduino.webp'
                service='iot'
				reversed={ true }
			>
			</ServiceSection>
        </section>
    
        <!-- Extra description? -->
        <section class='grid place-items-center text-center gap-8 py-28 bg-slate-100 text-black'>
            <h2 class='text-6xl font-semibold'>Unique Software for Unique Problems</h2>
            <p class='max-w-xl'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi ab atque debitis quae possimus repellat. Autem, provident minus natus omnis culpa doloremque incidunt, cum expedita consectetur adipisci, a sint labore.</p>
        </section>
    </main>
</Layout>
