---
import Layout from '../layouts/Layout.astro';
import SimpleHero from '../components/SimpleHero.astro';
import GridSection from '../components/GridSection';
import {Input, Form } from '../components/Form';
import Blur from '../components/Blur';
import ServiceCard from '../components/ServiceCard';
---
<Layout title='Zoar Valley Software' class='bg-[#0f0f0f] text-white text-lg'>
    
    <SimpleHero
        header='Taking your ideas to the next level.'
        title='Zoar Valley Software LLC'
        bgImgSrc='/img/pages/home_hero.webp'
        class='bg-[#0007] h-[65vh] justify-start'
        >
        <div slot='cta' class='mt-8'>
            <a class='btn py-2 px-4 md:py-3 md:px-6 bg-white text-black text-xl md:text-2xl font-medium' href='/#contact'>Get a quote</a>
        </div>

        <div slot='absolutes' class="w-[100vw] h-[100%] absolute top-0 left-0 overflow-x-clip">
            <Blur className='z-10 w-[80rem] bg-[#3489fbd9] absolute -left-[10rem] -top-[15rem] aspect-video rounded-sm' />    
            <div class='bg-gradient-to-b from-transparent to-[#0f0f0f] h-32 w-100% absolute bottom-0'></div>
        </div>
    </SimpleHero>  
    
    <main class='relative overflow-clip px-8 sm:px-12 py-32 grid gap-32 text-center lg:text-left max-w-screen-2xl mx-auto'>
        <section class='grid place-content-center'>
            <h2 class='text-6xl font-semibold text-center mb-16'>Services</h2>
            <div class="grid lg:grid-cols-3 gap-16">
                <ServiceCard title='Web Development'>
                    Creating high-quality, user-friendly websites that help you achieve your online goals. 
                    Whether it's marketing, blogs, e-commerce, or custom web apps, we cover a wide range of needs. 
                    Stand out in the digital landscape and unlock your online potential with our web development services.
                </ServiceCard>

                <ServiceCard title='Custom Software'>
                    Our custom software development services enhance your organization's efficiency, productivity, and revenue. 
                    We create tailored software solutions to streamline processes, automate workflows, and eliminate manual tasks, improving overall efficiency.
                </ServiceCard>

                <ServiceCard title='Internet of Things'>
                    Our tailored IoT solutions optimize processes, enhance customer experiences, and unlock new revenue streams. We offer end-to-end IoT implementation, including device integration, connectivity, and advanced data analytics.
                </ServiceCard>
            </div>
        </section>

        <section class="grid justify-start">
            <h2 class='text-5xl font-medium mb-4'>About Us</h2>
            <p class='mb-8 max-w-screen-lg'>
                Zoar Valley Software LLC is a software development business founded by Timothy Batt.
                Specializing in tailored software solutions including websites, automation programs, and IoT systems. 
                With a focus on local businesses, we aim to provide customized software solutions that elevate efficiency and simplify day-to-day work, 
                utilizing our diverse technical skills to deliver exceptional outcomes and empower businesses for success.
            </p>
        </section>

        <section class="z-20 grid place-content-center">
            <div class='mb-8'>
                <h2 class='text-5xl font-medium mb-2' id='contact'>Request a Quote</h2>
                <p>Or send an email directly to <a href='mailto:zoarvalleysoftware@gmail.com' class='underline text-blue-400'>zoarvalleysoftware@gmail.com</a></p>
            </div>
            <Form action='https://api.zoarvalleysoftware.com/contact' method='POST'>
                <fieldset class='w-100%'>
                    <label for='message'>Describe what we can do for you:</label><br>
                    <textarea class='mb-4 w-100% min-h-[10rem] h-[100%] text-black' name='message' required></textarea>
                </fieldset>

                <div class='grid place-content-center md:grid-cols-2 gap-8 mb-8'>
                    <Input 
                        name='name' 
                        label='Your name:'
                        type='text'
                    />

                    <Input 
                        name='email' 
                        label='Your email:'
                        type='email'
                    />
                    
                    <Input 
                        name='company' 
                        label='Your company name (optional):'
                        type='text'
                        required={ false }
                    />
                </div>

                <button class='mx-auto md:mx-0 btn w-fit bg-primary block font-medium'>Submit Form</button>
            </Form>
        </section>
    </main>
</Layout>
