---
import Logo from '../components/Logo';
import Layout from '../layouts/Layout.astro'
---

<Layout title="Thanks">
    <main class='grid place-items-center text-center py-16'>
        <div class='mb-16'>
            <h1 class='text-4xl font-semibold'>Thanks for contacting!</h1>
            <p>We'll get back to you has soon as we can. Keep an eye on your inbox for a response.</p>
        </div>
        <Logo className='w-64 ' />
    </main>
</Layout>