<div class='bg-red-600 text-white text-center text-xl py-8'>
    <p>This website is currently under development. Please check back later.</p>
    <p>Please email <a href='mailto:zoarvalleysoftware@gmail.com' class="underline font-medium">zoarvalleysoftware@gmail.com</a> for questions about services if interested.</p>
</div>