---
export interface Props {
    class?: string | null
}

const { class: className } = Astro.props;
---

<main class={`p-16 lg:px-48 grid place-items-center lg:place-content-start text-lg ${ className }`}>
    <div class='max-w-screen-md markdown'>
        <slot/>
    </div>
</main>