---
export interface Props {
    class?: string | undefined,
};

const { class: className } = Astro.props;
---


<section class={className + ' section'}>
    <div class="section__content contain">
        <slot/>
    </div>
</section>