---
export interface Props {
    class?: string | undefined,
    style?: string | undefined,
};

const { class: className, style: styles } = Astro.props;
---


<section class={className + ' section'} style={styles ? styles : ''}>
    <div class="section__content contain">
        <slot/>
    </div>
</section>