---
export interface Props {
    class?: string | undefined,
};

const { class: className } = Astro.props;
---


<section class={'section py-40 px-20 ' + className}>
    <div class="section__content grid place-content-center contain">
        <slot/>
    </div>
</section>