---
import ServiceImage from './ServiceImage.astro';

export interface Props {
    header: string,
    service: string,
    imgSrc: string,
    description: string,
    reversed?: boolean,
    class?: string | null
}

const { header, description, service, reversed, imgSrc, class: className } = Astro.props;
---

<section class={`relative text-center md:text-left grid grid-flow-col md:grid-cols-2 place-items-center px-8 gap-12 max-w-[120rem] ${ className ? className: "" }`}>    
    
    <ServiceImage src={ imgSrc } class={ reversed ? '[grid-column:2/-1]': '' }/>

    <div class='grid gap-4 place-items-center md:place-items-start z-10'>
        <h2 class='text-6xl font-semibold'>{ header }</h2>
        <p class='max-w-xl'>
            { description }
        </p>
        <a href={`/services/${ service }`} class='btn bg-primary text-white w-fit text-xl font-medium'>Details</a>
    </div>

    <slot/>
</section>