---
import ServiceImage from './ServiceImage.astro';

export interface Props {
    service: string,
    imgSrc: string,
    description: string,
    reversed?: boolean,
    class?: string | null
}

const { service, description, reversed, imgSrc, class: className } = Astro.props;
---

<section class={`relative text-center md:text-left grid md:grid-cols-2 place-items-center px-8 gap-12 max-w-[120rem] ${ className ? className: "" }`}>    
    
    { 
        reversed ? <ServiceImage src={ imgSrc }/>
        : "" 
    }

    <div class='grid gap-4 place-items-center md:place-items-start z-10'>
        <h2 class='text-6xl font-semibold'>{ service }</h2>
        <p class='max-w-xl'>
            { description }
        </p>
        <a href='#' class='btn bg-primary text-white w-fit text-xl font-medium'>Explore</a>
    </div>
    
    { 
        !reversed ? <ServiceImage src={ imgSrc }/> 
        : "" 
    }

    <slot/>
</section>