---
import Section from './Section.astro';


export interface Props {
    header: string,
    title?: string,
    lead?: string | undefined,
    bgImgSrc?: string | undefined,
    class?: string | undefined,
};

const { header, title, lead, bgImgSrc, class: className } = Astro.props;
---

<Section 
    class={`relative flex items-center min-h-[25vh] md:min-h-[50vh] text-center md:text-left bg-blend-darken bg-[#0005] text-white bg-center bg-cover ${ className }`}
    style={ bgImgSrc ? `background-image: url(${ bgImgSrc });`: '' }
>
    <div class="px-8">
        <h1 class='text-xl md:text-2xl mb-4'>{ title }</h1>
        <h2 class='text-3xl md:text-5xl sm:leading-[1] font-bold mb-4'>{ header }</h2>
        <p class='text-xl md:text-2xl mb-4'>
            { lead }
        </p>
        <slot/>
    </div>
</Section>