<section class="grid justify-start contain">
    <h2 class='text-5xl font-medium mb-4'>About Us</h2>
    <p class='mb-8 max-w-screen-lg'>
        Zoar Valley Software LLC is a software development business founded by Timothy Batt.
        Specializing in tailored software solutions including websites, automation programs, and IoT systems. 
        With a focus on local businesses, we aim to provide customized software solutions that elevate efficiency and simplify day-to-day work, 
        utilizing our diverse technical skills to deliver exceptional outcomes and empower businesses for success.
    </p>
</section>