---
import SimpleHero from '../SimpleHero.astro';
---


<SimpleHero
    header='Website Solutions That Work For You'
    title='Zoar Valley Software LLC'
    class='bg-[var(--black)] h-[65vh] justify-start'
>
    <div class='mt-8'>
        <a href="#contact" class="font-bold btn--cta">Contact</a>
    </div>
</SimpleHero>  
