---
import SimpleHero from '../SimpleHero.astro';
---


<SimpleHero
    header='Website Solutions That Work For You'
    title='Zoar Valley Software LLC'
    class='bg-[var(--black)] h-[65vh] justify-start'
>
    <div class='mt-8'>
        <h3 class="text-2xl">Contact <a href="mailto:zoarvalleysoftware@gmail.com" class="font-bold">zoarvalleysoftware@gmail.com</a> to get started!</h3>
    </div>
</SimpleHero>  
