---
import ServiceCard from "../ServiceCard";
---

<section class='grid place-content-center contain'>
    <h2 class='text-6xl font-semibold text-center mb-16'>Services</h2>
    <div class="grid lg:grid-cols-3 gap-16">
        <ServiceCard title='Web Development'>
            Creating high-quality, user-friendly websites that help you achieve your online goals. 
            Whether it's marketing, blogs, e-commerce, or custom web apps, we cover a wide range of needs. 
            Stand out in the digital landscape and unlock your online potential with our web development services.
        </ServiceCard>

        <ServiceCard title='Custom Software'>
            Our custom software development services enhance your organization's efficiency, productivity, and revenue. 
            We create tailored software solutions to streamline processes, automate workflows, and eliminate manual tasks, improving overall efficiency.
        </ServiceCard>

        <ServiceCard title='Internet of Things'>
            Our tailored IoT solutions optimize processes, enhance customer experiences, and unlock new revenue streams. We offer end-to-end IoT implementation, including device integration, connectivity, and advanced data analytics.
        </ServiceCard>
    </div>
</section>