---
import DevBanner from '../components/DevBanner';

export interface Props {
	title: string;
	class?: string | null;
}

const { title, class: className } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta name="description" content="Software development for websites, internet of things, custom apps and systems. Based out of Gowanda, New York.">
		<title>{ title }</title>
		<link rel='stylesheet' href='/css/tailwind.css'>
	</head>
	<body class={ className }>
		<DevBanner/>
		<slot/>
	</body>
</html>