---
import Nav from '../components/Nav';

export interface Props {
	title: string;
	nav?: boolean,
	class?: string | null;
}

const { title, nav, class: className } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta name="description" content="Custom software development services to enhance your organization's efficiency, productivity, and revenue. Based out of Gowanda, New York.">
		<title>{ title }</title>
		<link rel='stylesheet' href='/css/tailwind.css'/>
	</head>
	<body class={`${ className } overflow-x-clip relative`}>
		{ nav !== false ? <Nav/> : '' }
		
		<slot/>

		<footer class="bg-dark text-white text-center py-24">
			<p class='font-bold'>Zoar Valley Software LLC &copy; {new Date().getFullYear()}<br/></p>
			<!-- <div class="text-sm text-gray-400">
				<a href="/attribution">Image Attribution</a>
			</div> -->
		</footer>

		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "LocalBusiness",
			  "name": "Zoar Valley Software LLC",
			  "image": "",
			  "@id": "https://www.zoarvalleysoftware.com/",
			  "url": "https://www.zoarvalleysoftware.com/",
			  "email": "zoarvalleysoftware@gmail.com",
			  "address": {
				"@type": "PostalAddress",
				"streetAddress": "",
				"addressLocality": "Gowanda",
				"addressRegion": "NY",
				"postalCode": "14070",
				"addressCountry": "US"
			  } ,
			  "sameAs": "https://github.com/zvsoftware" 
			}
		</script>
	</body>
</html>